:root {
   /* PRIMARY */ 
    /* text */
    --very-dark-desatured-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);

    /* Gradient background */
    --soft-violet-gradient: hsl(273, 75%, 66%);
    --soft-blue-gradient: hsl(240, 73%, 65%);
   /* NEUTRAL */
    /* text */
    --very-dark-grayish-blue: hsl(237, 12%, 33%);
    --dark-grayish-blue: hsl(240, 6%, 50%);
    /* dividers */
    --light-grayish-blue: hsl(240, 5%, 91%);
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

    background-image: linear-gradient(var(--soft-violet-gradient), var(--soft-blue-gradient));

    
}

main {
    transform: scale(0.8);
    display: flex;
    align-items: center;
    background-color: white;

  
    width: 70rem;
    height: 28rem;

    border-radius: 1.5rem;
}

.image-container {
    height: 100%;
    background-image: url(./images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: 50rem;
    background-position: -25rem -14rem;
    
}

.card-images {
    position: relative;
    overflow: hidden;
    bottom: 10.4rem
}

.bg-pattern {
    position: relative;
    width: 110%;
}

.woman-desktop {
    position: relative;
    right: 5rem;
}

.box-desktop {
    position: relative;
    left: -8.4rem;
    z-index: 1;
    top: 34%;
}


h1 {
    margin-top: 4rem;
    color: var(--very-dark-desatured-blue);
}

.container {
    height: 100%;
    padding-right:4rem ;
}


.accordion {
    border-bottom: 1px solid var(--light-grayish-blue)
}

.accordion .header {
    display: flex;
    justify-content: space-between;

    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    padding-right: 0.3rem;

    color: var(--very-dark-grayish-blue);
    
}

.header > p {
    cursor: pointer;
}

.header .focus {
    color: var(--very-dark-desatured-blue);
    font-weight: bold;
    pointer-events: none;
    
}

.header > span {
    cursor: pointer;
}

.accordion .header .close {
    transform: rotate(180deg);
}

.accordion > p {
    font-size: 12px;
    color: var(--dark-grayish-blue);
}

.accordion .text {
    overflow: hidden;
    padding-right: 3rem;
    height: 0;
}

.accordion .active  {
    height: auto;
    padding-bottom: 1rem;
    transition: 0.5s ease-out;

}

.accordion .header:hover {
    color: var(--soft-red);
}

.woman-mobile {
    display: none;
}

@media (max-width: 850px) {

    .woman-mobile {
        display: block;
        align-self: center;
    }

    main {
        position: relative;
        margin-top: 4rem;
        width: 70rem;
        height: 35rem;


        transform: scale(0.8);
        display: flex;
        flex-direction: column;
        align-items: center;


        background-color: white;
        border-radius: 1.5rem;
    }

    .image-container {
        height: 26%;
        width: 100%;
        background-image: url(./images/bg-pattern-mobile.svg);
        background-repeat: no-repeat;
        background-size: 18rem;
        background-position: center center;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card-images {
        position: relative;
        bottom: 8.1rem;
        width: 18rem;
        overflow: visible;
    }



    h1 {
        margin-top: 1rem;
        margin-bottom: 1rem;
        color: var(--very-dark-desatured-blue);
        text-align: center;
        font-size: x-large;
    }

    .header > p {
        cursor: pointer;
        font-size: 13px;
    }

    .accordion .text {
        overflow: hidden;
        padding-right: 3rem;
        height: 0;
    }

    .accordion .active  {
        height: auto;
        padding-bottom: 1rem;
        transition: 0.5s ease-out;
    }


    .container {
        height: 100%;
        padding: 0.5rem 1rem 4rem 1rem;
    }


    .box-desktop {
        display: none;
    }
    .woman-desktop {
        display: none;
    }

}




.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }